<%= render 'layouts/header_icon', {text: "Best Chat App"} %>
<div class="ui two column grid">
  <div class="twelve wide column">
    <%= render 'chatroom/chatarea' %>
  </div>
  <div class="four wide column">
    <%= render 'chatroom/menu' %>
  </div>
</div>
